@bg: rgb(240, 240, 240) + #111; /* rgb(233, 232, 201); */
@lightBg: @bg + #111;
@blue: rgb(136, 202, 219);
@red: #ee6166;
@brown: #40b87c; @darkBrown: @brown - #333;
@green: rgb(124, 172, 103);
@orange: rgb(249, 180, 6);

.titleFont { font-family: Georgia, sans-serif; font-weight: normal; }

.shadow (@radius: 8px, @alpha: 0.85) {
  -moz-box-shadow: 0px 0px @radius rgba(0, 0, 0, @alpha);
  -khtml-box-shadow: 0px 0px @radius rgba(0, 0, 0, @alpha);
  -webkit-box-shadow: 0px 0px @radius rgba(0, 0, 0, @alpha);
  box-shadow: 0px 0px @radius rgb(255*@alpha*3, 255*@alpha*3, 255*@alpha*3);
  box-shadow: 0px 0px @radius rgba(0, 0, 0, @alpha);  
}
.radius (@radius: 3px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

body {
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 100%;
	background: @bg; 
}
h1, h2, h3, h4 {
	.titleFont;
 	font-size: 36px;
	margin-bottom: 15px;
}
h2 { margin-top: 45px; font-size: 24px; }
h3 { margin-top: 15px; font-size: 20px; margin-bottom: 10px }
h4 { margin-top: 15px; font-size: 17px; margin-bottom: 8px; }
h2#title {
	a {
		text-decoration: none;
	}
}
p, td, th, li, input {
    font-size: 15px;
    line-height: 1.3*18px;
}
ol li {
    list-style-type: decimal;
	margin-bottom: 0;
}
table { width: 100%; }
tr:nth-child(odd) { background: @bg - #111; }
form tr:nth-child(odd) { background: transparent; }
td, th { vertical-align: top; padding: 3px; }
table.basics {
	tr.headline td { text-align: center; vertical-align: middle; font-size: 24pt; }
	tr, td { background: transparent; }
	th { background: #f60; text-align: center; width: 30%; color: white; 
		.titleFont; font-size: 24pt; line-height: 30pt; padding: 5px; }
	th.deliberation { background: #0a2 }
}
ul.details {
	li {
		margin: .5em 0;
	}
}
a {
    color: @brown - #444;
    
    &:hover {
	color: @brown - #666;
    }
}
h1 a {
    text-decoration: none;
    
    &:hover {
	text-decoration: underline;
    }
}
ul,ol { padding-left: 2em; list-style-type: circle; }
li { font-size: 15px; line-height: 1.3*18px; margin-bottom: 18px; }
/*a.buttonLink {
    background: @brown - #111;
    color: @bg; text-decoration: none;
    padding: 1em; margin: .5em 0;
    text-align: center;


    &:hover {
	background: @brown - #333;
    }
}*/

#header {
	padding: 1em 0;
	background: ;
}
#page {
	clear: both;
}


/* grid */
.wrapper {
	width: 760px;
	margin: 0 auto;
	text-align: left;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-half {
	float: left;
	width: 130px;
	margin-right: 40px;
}
.grid-2 { width: 130px*2+40; }
.grid-3 { width: 130px*3+40*2; }
.grid-4 { width: 130px*4+40*3; }
.grid-5 { width: 130px*5+40*4; }
.grid-half { width: 65px; margin-right: 20px; }
.grid-dash-1 { margin-left: 170px; }
.grid-dash-2 { margin-left: 2*170px; } 
.grid-dash-3 { margin-left: 3*170px; } 
.grid-dash-4 { margin-left: 4*170px; } 
.grid-dash-5 { margin-left: 5*170px; }
.grid-pull-1 { margin-left: -170px; }
.last { margin-right: 0 !important; }
.box { display: block; padding: 18px; background: @bg - #111; }

#userBox p {
	margin: 0;
	float: right;
	text-align: right;
	font-size: 10pt;
}
form {
	background: @bg - #222;
	padding: 5px 20px;
	.radius(10px);
	
	input, textarea {
		font-family: verdana, sans-serif;
		font-size: 12pt;
	}

}
.chart {
	border: 1px solid #ddd;
}
/*.ratingNum1, .ratingNum2, .ratingNum3, .ratingNum4, .ratingNum5 {
	background: 0 5px no-repeat url('/images/chartgray.png');
	color: #aaa;
	padding: 0 3px;
}*/

/*form {
    overflow: hidden;

	table { width: auto; }

    input, textarea {	
	padding: 9px;
	border: 1px solid @brown;
	margin: 2px 0;
	background: @bg + #222;
	font-size: 15px;	
    }
    input:focus, textarea:focus {
	background: white;
	border-color: @brown + #222;
    }
    textarea {
	height: 100px;

    }
    input {
	line-height: 15px;
    }
    input.submit {
	width: auto;
    }

	small { display: block; font-size: 14px}
    
    table {
	
	th {
	    vertical-align: top;
	    
	    text-align: right;
	    
	    label {
		white-space: nowrap;
		text-align: right;
		line-height: 15+2*1+2*2+2*9px;
		width: auto;
		float: none;
	    }   
	}
    }
}*/

/*a.buttonLink, input.submit, input[type=submit] {
    display: block;
    background: @brown - #111;
    color: @bg; text-decoration: none;
    padding: 1em; margin: .5em 0;
    text-align: center;


    &:hover {
	background: @brown - #333;
    }
}*/
#flashMessages {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.flashMessage {
    background: @green;
    padding: 15px;
    color: white;
    .shadow(20px);
    font-weight: bold;
    
    &.error {
	background: red;
    }
}
p.blank {
    text-align: center;
    padding: 1em;
    border: 2px dashed @brown;
}
.clearfix {
    clear: both;
    text-indent: -9999px;
    width: 1px; height: 1px;
    overflow: hidden;
}
.redFlag {
	background: (#F00 + @bg / 2);
	color: white;
	padding: 0px 6px;
	text-decoration: none;
	
	&:hover {
		background: red;
		color: white;
	}
}
.ineligible { background: red; padding: 0 5px; color: white; }